.container {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: '100%';

}

.subcontainer{
  display: flex;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button{
  margin: 2rem;
  height: 4rem;
  width: 10rem;
  background-color: blueviolet;
  border: cornflowerblue;
  color: aliceblue;
}

.input{
  height: 3rem;
  width: 14rem;
  padding-left: 1rem;
}

.checkbox{
  margin-top: 1.1rem;
  margin-right: 1rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
