.container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: '100%';

}

.subcontainer{
  display: flex;
}

.name{
  color: aliceblue;
  margin-left: 2rem;

}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation{
  width: 100%;
  background-color: blueviolet;
  height: 6rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button{
  margin: 2rem;
  height: 4rem;
  width: 10rem;
  background-color: blueviolet;
  border: cornflowerblue;
  color: aliceblue;
}

.input{
  height: 3rem;
  width: 14rem;
  padding-left: 1rem;
}

.checkbox{
  margin-top: 1.1rem;
  margin-right: 1rem;
}

.link{
  color: blue;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


